{% load static %} 

<div class="col sidebar d-none d-md-block" id="sidebar">
    <nav class="nav flex-column">
      <a class="nav-link" aria-current="page" id="sidemenu" href="{%url 'addnew'%}"><i class="fas fa-cloud-download-alt" style="margin-right:10px;"></i>Add New</a>
      <a class="nav-link" id="sidemenu" href="{%url 'search'%}"><i class="fas fa-search" style="margin-right:10px;"></i>Search</a>
      <a class="nav-link" id="sidemenu" href="{%url 'quiz'%}"><i class="fas fa-graduation-cap" style="margin-right:10px;"></i>Quiz</a>
    </nav>
</div>